.home-section {
  position: relative;
  min-height: 99vh;
  top: 0;
  left: 4.1%;
  right: 4.1%;
  width: calc(100% - 8.8%);
  height: 95%;
  transition: all 0.5s ease;
  z-index: 2;
  //border: rgb(214, 28, 214) solid 5px;
}
.sidebar.open ~ .home-section {
  left: 13%;
  width: calc(100% - 13%);
}

.sidebar-left ~ .home-section {
  right: 20%;
  width: calc(100% - 20%);
}
.home-section .text {
  display: inline-block;
  color: #292929;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

#appContainer {
  height: 100%;
}
