<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="sidebar-left">
    <div class="logo-details">
        <div class="logo_name">Devices</div>
        <i class="bx bx-devices" id="btn" (click)="openSidebar()"></i>

    </div>
    <ul class="nav-list">
        <li>

            <a routerLink="/curriculumVitae" (click)="openSidebar()">
                <i class='bx bxs-watch-alt'></i>
                <span class="links_name">Watch</span>
            </a>
            <div class="device-info">
                <img src="../../../assets/smartWatch.png">
                <div class="device-data">
                    <p>Name : </p>
                    <p>State : </p>
                </div>
            </div>

            <span class="tooltip">Watch</span>
        </li>
        <li>
            <a routerLink="/editor" (click)="openSidebar()">
                <i class='bx bx-tab'></i>
                <span class="links_name">Tablet</span>
            </a>
            <div class="device-info">
                <img src="../../../assets/tablet.png">
                <div class="device-data">
                    <p>Name : </p>
                    <p>State : </p>
                </div>
            </div>
            <span class="tooltip">Tablet</span>
        </li>
    </ul>
</div>